@page
@model IndexModel
@{
    ViewData["Title"] = "Company Frontpage";
}

<div class="container">
    <section>
        <!--Section Header-->
        <header class="section-header">
            <div class="btn-group btn-group-lg">
                <div class="btn-group btn-group-lg">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        New
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a asp-page="/Dashboard/Company/Create">Company</a></li>
                        <li><a asp-page="/Dashboard/Company/Report">Report</a></li>
                    </ul>
                </div>

                <button type="button" class="btn btn-primary">Settings</button>
            </div>
        </header>
        <!--END Section Header-->

        @if (Model.Companies != null)
        {
            foreach (var item in Model.Companies)
            {
                <div class="container">
                    <h4>@item.Name</h4>
                    <p>Products: @item.NumberOfProducts</p>
                    <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@item.Id">
                        Edit
                    </a> |
                    <a class="btn btn-primary" asp-page="./Details" asp-route-id="@item.Id">
                        Details
                    </a> |
                    <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.Id">
                        Delete
                    </a>
                </div>

            }
        }
        else
        {
            <div><h4>It looks a bit empty here. Contact your service provider to have you asigned to a specific company.</h4></div>
        }
    </section>

</div>
