@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<div class="logo">
    <a href="#" class="simple-text">
        Bug Catcher
    </a>
</div>

<div class="sidebar-wrapper ps-container ps-theme-default ps-active-y" data-ps-id="56ef18fd-14fd-7cb9-880b-173e25d4147e">
    <ul class="nav">
        <li>
            <a asp-page="/Dashboard/Index">
                <i class="material-icons">keyboard_arrow_right</i>
                <p>To Dashboard</p>
               
            </a>
        </li>

        <li class="@ManageNavPages.IndexNavClass(ViewContext)">
            <a asp-page="./Index">
                <i class="material-icons">person</i>
                <p>User Profile</p>
            </a>
        </li>

        <li class="@ManageNavPages.ChangePasswordNavClass(ViewContext)">
            <a asp-page="./ChangePassword">
                <p>Password</p>
            </a>
        </li>

        @if (hasExternalLogins)
        {
            <li class="@ManageNavPages.ExternalLoginsNavClass(ViewContext)">
                <a asp-page="./ExternalLogins">
                <p>External logins</p>
                </a>
            </li>
        }

        @*<li class="@ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)">
            <a asp-page="./TwoFactorAuthentication">
                Two-factor authentication
            </a>
        </li>*@

        <li class="active-pro">
            <a href="upgrade.html">
                <i class="material-icons">unarchive</i>
                <p>Upgrade to PRO</p>
            </a>
        </li>

    </ul>
    <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: -136px;"><div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 136px; right: 0px; height: 294px;"><div class="ps-scrollbar-y" tabindex="0" style="top: 93px; height: 201px;"></div></div>
</div>

<div class="sidebar-background" style="background-image: url(../assets/img/sidebar-1.jpg)"></div>

@*<ul class="nav nav-pills nav-stacked">


    <li class="@ManageNavPages.IndexNavClass(ViewContext)"><a asp-page="./Index">Profile</a></li>
    <li class="@ManageNavPages.ChangePasswordNavClass(ViewContext)"><a asp-page="./ChangePassword">Password</a></li>
    @if (hasExternalLogins)
    {
        <li class="@ManageNavPages.ExternalLoginsNavClass(ViewContext)"><a asp-page="./ExternalLogins">External logins</a></li>
    }
    <li class="@ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)"><a asp-page="./TwoFactorAuthentication">Two-factor authentication</a></li>
</ul>*@

