@page
@model BugCatcher.Core.Pages.Reports.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>BugReport</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BugReport.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BugReport.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BugReport.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BugReport.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BugReport.DateOfCreated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BugReport.DateOfCreated)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.BugReport.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
