@page
@model DetailsModel
@{
    ViewData["Title"] = "Product Details";
}
@section Styles {
    <link rel="stylesheet" type="text/css" href="~/css/section.css" />
    <link rel="stylesheet" type="text/css" href="~/css/container.css" />
}
<div class="container">
    <section>
        <header class="section-header">
            <h2>@Model.ThisProduct.Name</h2>
        </header>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Builds[0].Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Builds[0].Name)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Builds)
            {
                    <tr>
                        <td>
                            <a asp-page="/Dashboard/Build/Details" asp-route-id="@item.Id">
                                @Html.DisplayFor(modelItem => item.Id)
                            </a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            <a asp-page="/Dashboard/Report/Create" asp-route-id="@item.Id">Add reports</a> |
                            <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </section>
</div>

